
@media (min-width: 1024px) {
    .fi-topbar-open-sidebar-btn {
        display: none !important;
    }
    .fi-main, .fi-main-ctn{
        margin-left: 20rem;
        display: flex !important;
        justify-content: center;
        max-width: 100% !important;
        background-color: #d9d9d9 !important;
    }
    .fi-main{
        overflow: hidden !important;
        background-color: #d9d9d9;
    }
    .fi-page{
        width: 95%;
    }
    
}
.fi-sidebar{
    background-color: #d9d9d9 !important;
}
.fi-sidebar-nav{
    background-color: #06402a;
    color: antiquewhite;
    border-radius: 50px;
}
.aside{
    background-color: transparent !important;
}

.fi-sidebar-nav-groups > li{
    :hover {
        background-color: #06402a;
    }
}
.fi-sidebar-item{
    margin-bottom: 28px;
}
.fi-sidebar-nav-groups > li .fi-sidebar-item-icon {
    color: white; /* default icon color */
}
.fi-sidebar-nav-groups > li .fi-sidebar-item-label {
    color: white; /* default text color */
}
.fi-sidebar-nav-groups > li .fi-sidebar-item-button:hover .fi-sidebar-item-label,
.fi-sidebar-nav-groups > li .fi-sidebar-item-button:hover .fi-sidebar-item-icon {
    color: gray; /* hover text and icon color */
}
.fi-sidebar-item-label{
    font-size: 16px !important;
}
.fi-sidebar-item-icon{
    font-size: 28px !important;
    width: 30px !important;
    height: 30px !important;
}
.fi-sidebar-item-active svg,
.fi-sidebar-item-active span {
    color: gray !important;
}

.fi-sidebar-item-active {
    position: relative;
}

.fi-sidebar-item-active::after {
    content: '';
    position: absolute;
    left: 105%; 
    top: 50%;
    right: 0;
    transform: rotate(90deg) translateX(-50%);
    width: 20px;
    height: 24px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #d9d9d9; 
    z-index: 30;
}


.fi-sidebar-item-active > a { 
    @apply bg-transparent;

   & > svg, span {
       @apply text-white;
   }

   &:hover {
       @apply bg-transparent;
       @apply text-[#808080];
   }
} 

.calendar-navigation{
   margin-left: 10px;
}
.drag-border-color{
    border: 2px solid blue;
}
.dashed-container{
    padding: 10px 20px;
    height: auto;
    border: 1px dashed gray;
    border-radius: 10px;
    margin-bottom: 20px;
}
.dashed-container-no-padding{
    padding: 5px 10px;
    height: auto;
    border: 1px dashed gray;
    border-radius: 10px;
}
.dashed-container-light{
    padding-top: 20px;
    height: auto;
    border-top: 1px dashed gray;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
}
.header-text{
    font-size: 24px;
    font-weight: 600;
}